<div class="page-header" id="banner">
        <div class="row">
          <div class="col-lg-8 col-md-7 col-sm-6">
            <h1>Slate</h1>
            <p class="lead">Shades of gunmetal gray</p>
            Main content
          </div>
        </div>
      </div>