{{#if docs.length}}
<table class="table table-hover" id ="active_missions">
    <thead>
        <tr>
            <th scope="col">MissionID</th>
            <th scope="col">Name</th>
            <th scope="col">Faction (Rep) - (Infl)</th>
            <th scope="col">Target Faction</th>
            <th scope="col">Destination System(Station)</th>
            <th scope="col">Reward</th>
            <th scope="col">Expiration</th>
        </tr>
    </thead>
    <tbody>
        {{#each content}}
        {{> mission_line}}
        {{/each}}

    </tbody>
</table>
<pre>
    {{{docs}}}
</pre>
{{else}}
<div class="card border-info mb-3" style="max-width: 20rem;">
  <div class="card-header">No missions</div>
  <div class="card-body">
    <h4 class="card-title">You lazy bum!</h4>
    <p class="card-text">Go do something usefull for the community!</p>
  </div>
</div>
{{/if}}